form {
  max-inline-size: 80%;
  inline-size: var(--main-width);
  counter-reset: answer;
}

fieldset {
  display: grid;
  counter-increment: answer;
  padding-block: var(--size-0) var(--size-2);
  border: 0;
}

legend {
  float: left;
  display: grid;
  align-items: center;
  margin-bottom: var(--size-2);
  padding: 0;
  max-width: 25ch;
  text-align: center;
  row-gap: var(--size-0);
}

legend::before {
  content: counter(answer);
  display: inline-grid;
  margin-inline: auto;
  place-items: center;
  border-radius: 50%;
  background-image: var(--gradient-2);
  color: var(--color-surface-1);
  width: 1.4em;
  height: 1.4em;
  line-height: 1;
}

.form-group {
  padding-inline-start: var(--size-1);
}

input:where([type="radio"], [type="checkbox"]) {
  display: none;
}

input:where([type="radio"], [type="checkbox"]) ~ label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input:where([type="radio"], [type="checkbox"]) ~ label::before {
  content: "✓";
  float: left;
  display: grid;
  place-items: center;
  margin-right: var(--size--2);
  line-height: 0;
  background-color: var(--color-surface-1);
  width: var(--size-1);
  height: var(--size-1);
  margin-block-start: -2px;
  font-size: var(--size-0);
  border: 1px solid var(--color-text-2);
  color: transparent;
  translate: 0 0.25em;
}
input:where([type="radio"], [type="checkbox"])
  ~ label:where(:hover, :focus-within)::before {
  border-color: var(--color-text-1);
  background-color: var(--color-surface-2);
  animation: scale-up 0.3s;
}

input:where([type="radio"], [type="checkbox"])
  ~ label:where(:hover, :focus-within) {
  color: var(--color-text-1);
}

input:where([type="radio"], [type="checkbox"]):checked ~ label::before {
  color: var(--color-dark);
}
