form {
  max-inline-size: 65ch;
  counter-reset: answer;
}

fieldset {
  display: grid;
  counter-increment: answer;
  padding-block: var(--size-0);
  padding-inline: var(--size-1);
  border: 0;
}

legend {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 0.75em;
  padding: 0;
}

legend::before {
  content: counter(answer) ". ";
}

.form-group {
  padding-inline-start: var(--size-1);
}

input:where([type="radio"], [type="checkbox"]) {
  display: none;
}

input:where([type="radio"], [type="checkbox"]) ~ label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input:where([type="radio"], [type="checkbox"])
  ~ label:where(:hover, :focus-within)::before {
  border-color: var(--color-dark);
  background-color: var(--color-lightish);
  animation: scale-up 0.3s;
}

input:where([type="radio"], [type="checkbox"]) ~ label::before {
  content: "✓";
  float: left;
  display: grid;
  place-items: center;
  margin-right: var(--size--2);
  line-height: 0;
  background-color: var(--color-light);
  width: var(--size-1);
  height: var(--size-1);
  margin-block-start: -2px;
  font-size: var(--size-0);
  border: 1px solid var(--color-darkish);
  color: transparent;
  translate: 0 0.25em;
}

input:where([type="radio"], [type="checkbox"]):checked ~ label::before {
  color: var(--color-dark);
}
