.quiz-result strong {
  font-size: var(--size-1);
  font-style: italic;
  line-height: 1.4;
  max-inline-size: 45ch;
  color: var(--color-text-1);
}

.quiz-result article {
  background-color: var(--color-surface-1);
}

.quiz-result blockquote {
  position: relative;
  padding-inline-start: var(--size-0);
  &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    background-image: var(--gradient-1);
  }
}
