:host {
  position: relative;
  display: block;
  /* background-color: var(--color-surface-1); */
  /* background-image: var(--gradient-surface); */
}

.slidesWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
