@layout('layouts/base')

@section('body')
<main class="flow">
		<div class="cover fade-in animation-delay" style='--bg-img:url("{{image}}");'>
			{{--  <picture>
				<img src="{{image}}" alt="">
			</picture>  --}}
			<h1 class="slide-in animation-delay"><span >{{lead}}</span></h1>
		</div>
	

	<article class="center flow">
		{{{content}}}
	</article>
</main>
@end