@layout('layouts/base')

@section('body')
<main class="[ wrapper flow:5 ]">
		<div class="[ banner ] [ wrapper_not ] [ fade-in animation-delay-1 ]" style='--bg-img:url("{{image}}");'>
			<h1 class="[ slide-in-wrapper color-text-1 padding-inline--1 text-center animation-delay-2 fade-in ]"><span class="">{{lead}}</span></h1>
		</div>

	<article class="[ flow ]">
		{{{content}}}
	</article>

</main>
@end