.margin-inline-auto {
  margin-inline: auto;
}

.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: var(--size-2);
  font-weight: 700;
  line-height: 1.2;
}

/* .animated-shadow {
  position: relative;
}

.animated-shadow::before,
.animated-shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-text);
  background-size: 400% 100%;
  z-index: -1;
  animation: animate 20s linear infinite;
  opacity: 0.3;
}
.animated-shadow:after {
  filter: blur(10px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
} */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
