:host {
  position: relative;
  display: block;
  border: 2px solid var(--color-lightish);
}
.slidesWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

progress:not([value]) {
  display: none;
}

progress {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 1px;
  translate: 0 -50%;
}

progress::-webkit-progress-value {
  background-color: #1a8bcd;
  transition: width 0.3s ease-in;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}
