/* RESET https://andy-bell.co.uk/a-modern-css-reset/ */

@import url("styles/global/reset.css");
@import url("styles/global/variables.css");
@import url("styles/global/animations.css");
@import url("styles/tokens/generated.css");
@import url("styles/blocks/quiz.css");
@import url("styles/blocks/form-radio.css");

@import url("styles/layouts/wrapper.css");
@import url("styles/layouts/flow.css");
@import url("styles/layouts/banner.css");
@import url("styles/layouts/center.css");

@import url("styles/utilities/index.css");
@import url("styles/utilities/animations.css");

/* GLOBAL */

body {
  display: flex;
  flex-direction: column;
  background: var(--color-surface-1);
  color: var(--color-text-2);
  font-family: var(--font-sans);
  line-height: 1.7;
  font-size: var(--size-0);

  --header-height: var(--size-5);
}

header,
footer {
  flex-grow: 0;
}

header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 10;
  box-shadow: var(--box-shadow-3);
}

footer {
  height: var(--size-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-surface-2);
  color: var(--color-text-3);
  margin-top: var(--size-3);
}

main {
  flex-grow: 1;
}

:where(h1, h2, h3, .lead) {
  --flow-space: 2rem;
  line-height: 1.1;
  font-weight: 800;
  font-family: var(--font-sans);
  padding-block: var(--size-0);
}

@supports ((background-clip: text)) or ((-webkit-background-clip: text)) {
  :where(h1, h2, h3) {
    background-image: var(--gradient-accent);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

h1 + * {
  margin-top: var(--size-5);
}

h1 {
  font-size: var(--size-5);
}

h2 {
  font-size: var(--size-3);
}

h3 {
  font-size: var(--size-2);
}

h1 {
  max-inline-size: 20ch;
}

h2,
h3,
.lead {
  max-inline-size: 28ch;
}

strong {
  font-size: var(--size-1);
  font-style: italic;
  line-height: 1.4;
  max-inline-size: 45ch;
  color: var(--color-text-1);
}
