/* RESET https://andy-bell.co.uk/a-modern-css-reset/ */

@import url("styles/global/reset.css");
@import url("styles/global/variables.css");
@import url("styles/global/animations.css");
@import url("styles/blocks/form.css");

/* GLOBAL */

body {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-3);
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
  line-height: 1.7;
}

header,
footer {
  width: 100%;
  background-color: var(--color-lightish);
  flex-grow: 0;
}
main {
  flex-grow: 1;
}

:where(h1, h2, h3) {
  --flow-space: 1.5rem;
  line-height: 1.1;
  font-weight: 800;
  font-family: var(--font-serif);
}

:where(h1, h2, h, legend) + * {
  --flow-space: 0.5em;
}

h1 {
  font-size: var(--size-4);
}

h2 {
  font-size: var(--size-3);
}

h3 {
  font-size: var(--size-2);
}

h1 {
  max-inline-size: 20ch;
}

h2,
h3 {
  max-inline-size: 28ch;
}

/* UTILITIES */

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

[class~="center"],
[class*="center\:"] {
  max-inline-size: var(--main-width);
  margin-inline: auto;
  padding-inline: var(--size--1);
}

[class~="center\:vertical"] {
  display: grid;
  align-content: center;
}

.prose {
  font-size: var(--size-2);
  max-inline-size: 50ch;
  font-weight: 700;
  line-height: 1.2;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
